<div id="footerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>SJTUG 是 SJTU Joyful Techie *nix User Group的缩写，定位于一个技术交流组织。</p>
        <p>本站fork自THU的TUNA源。源码可在 <a href="https://github.com/tuna/tunasync"><em>这里(镜像管理器)</em></a> 和 <a href="https://github.com/tuna/mirror-web"><em>这里(镜像站网页)</em></a> 获取。</p>
      </div>

      <div class="col-lg-4">
        <h4>Contact Us</h4>
        <div>
          <ul class="social">
            <li>
            <a href="https://groups.google.com/forum/#!forum/sjtug"><i class="fa fa-envelope"></i> Mailing List</a>
            </li>
            <li>
            IRC: <a href="https://webchat.freenode.net/?channels=%23sjtug">#sjtug at freenode</a>
            </li>
            <li>
            <a href="https://github.com/sjtug/"><i class="fa fa-github"></i> GitHub </a>
            </li>
            <li>
            <a href="http://www.sjtug.org">SJTUG官网</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <img class="img-responsive" src="/static/img/logo-white.png" />
      </div>
    </div><!--/row -->
  </div><!--/container -->
</div><!--/footerwrap -->

<script>
WebFont.load({
	custom: {
		families: ['Lato']
	}
});
</script>
